body {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
    font-family: "Century Schoolbook";
    font-size: xxx-large;
}

div.container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    max-width: 90%;
    padding: 1rem;

}

ul.home-list {
    font-size: x-large;
}

li {
    list-style: none;
}

li.navbar {
    alignment: center;
    background-color: white;
    float: left;
}

li.singleBook {
    font-size: xxx-large;
    text-decoration: none;
}

button.add {
    border: none;
    color: azure;
    background-color: forestgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.delete {
    border: none;
    color: azure;
    background-color: darkred;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-page-link {
    display: block; /*tak dziwnie blokuje*/
    padding: 8px;
    color: inherit;
    text-decoration: inherit;
}

.page-link {
    padding: 8px;
    color: inherit;
    text-decoration: inherit;
}
