body {
    background-color: cornflowerblue;
}

h1.page-title {
    text-align: center;
    font-family: "Century Schoolbook";
    font-size: xxx-large;
}

div.container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    max-width: 90%;
    padding: 1rem;

}
form {

}
label {

}
input {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 441px;
    padding-bottom: 80px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

ul.home-list {
    font-size: x-large;
}

li {
    list-style: none;
}

li.navbar {
    alignment: center;
    float: left;
}

li.singleBook {
    font-size: xxx-large;
    text-decoration: none;
}

.main-page-link {
    display: block;
    padding: 8px;
    color: dimgray;
    font-weight: bold;
    text-decoration: inherit;

}

.page-link {
    padding: 8px;
    color: inherit;
    text-decoration: inherit;
}

button {
    color: azure;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button.add {
    background-color: forestgreen;
    padding: 15px 32px;
}

button.update {
    background-color: darkorchid;
    padding: 15px 32px;
}

button.delete {
    background-color: darkred;
    padding: 5px 16px;
}

button.edit {
    background-color: darkorchid;
    padding: 5px 16px;
}


